<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let post of posts" class="col-md-10">

                    <div class="product-box">
                        <h1>{{ post.name }}</h1>
                        <h6>{{ post.description }}</h6>
                        <img src="{{ post.image }}"  class="img-responsive" />
                        <div class="price">{{ post.price | currency: 'EUR' }}</div>


                    </div>
                </div>
            </div>
        </div>
    </div>